
VBallManager17-18/bin/
VBallManager17-18/obj/
VBallManager17-18/App_Data/
VBallManager17-18/VBallManager.csproj.user
Activity/.DS_Store
Activity/App_Data/
Activity/bin/
Activity/obj/

VBallManager18-19/bin/
VBallManager18-19/obj
VBallManager18-19/App_Data/
VBallManager18-19/packages/


Wechat-Notifier/Wechat-Notifier.v11.suo
VBallManager18-19/VballManager18-19.v11.suo
*.suo
*.exe
*.pdb
Wechat-Notifier/Wechat-Notifier/bin/
*.cache
Wechat-Notifier/Wechat-Notifier/obj/
Wechat-Notifier/WechatHolder/obj/
Wechat-Notifier/WechatHolder/bin/
Wechat-Notifier/Wechat-Notifier/obj
Wechat-Notifier/Wechat-Notifier/Service References/VballMangerWebservice/Wechat_Notifier.VballMangerWebservice.WechatMessage.datasource
Wechat-Notifier/Wechat-Notifier/bin/
*.dll
Wechat-Notifier/Wechat-Notifier/obj/
*.dll
