
VBallManager17-18/App_Data/Reservation.data.2018-06-21
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
VBallManager17-18/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Debug/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Debug/VballManager.csprojResolveAssemblyReference.cache
VBallManager17-18/obj/Debug/VballManager.dll
VBallManager17-18/obj/Debug/VballManager.pdb
VBallManager17-18/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Release/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Release/VballManager.csprojResolveAssemblyReference.cache
VBallManager17-18/obj/Release/VballManager.dll
VBallManager17-18/obj/Release/VballManager.pdb
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
VBallManager17-18/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Debug/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Debug/VballManager.dll
VBallManager17-18/obj/Debug/VballManager.pdb
VBallManager17-18/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Release/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Release/VballManager.dll
VBallManager17-18/obj/Release/VballManager.pdb
VBallManager17-18/VBallManager.csproj.user
Activity/.DS_Store
Activity/App_Data/Reservation.data
Activity/bin/.DS_Store
Activity/bin/AjaxControlToolkit.dll
Activity/bin/Reservation.dll
Activity/bin/Reservation.pdb
Activity/obj/Debug/Activity.csproj.FileListAbsolute.txt
Activity/obj/Debug/Activity.csprojResolveAssemblyReference.cache
Activity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Activity/obj/Debug/Reservation.csproj.FileListAbsolute.txt
Activity/obj/Debug/Reservation.dll
Activity/obj/Debug/Reservation.pdb
Activity/obj/Release/Activity.csproj.FileListAbsolute.txt
Activity/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Activity/obj/Release/Reservation.csproj.FileListAbsolute.txt
Activity/obj/Release/Reservation.dll
Activity/obj/Release/Reservation.pdb
Activity/obj/Release/ResolveAssemblyReference.cache
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
VBallManager17-18/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Debug/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Debug/VballManager.dll
VBallManager17-18/obj/Debug/VballManager.pdb
VBallManager17-18/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Release/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Release/VballManager.dll
VBallManager17-18/obj/Release/VballManager.pdb
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
VBallManager17-18/obj/Debug/VballManager.pdb
VBallManager17-18/obj/Debug/VballManager.dll
VBallManager18-19/bin/AjaxControlToolkit.dll
VBallManager18-19/bin/VballManager.dll
VBallManager18-19/bin/VballManager.pdb
VBallManager18-19/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager18-19/obj/Debug/Reservation.csproj.FileListAbsolute.txt
VBallManager18-19/obj/Debug/Reservation.dll
VBallManager18-19/obj/Debug/Reservation.pdb
VBallManager18-19/obj/Debug/VballManager.csproj.FileListAbsolute.txt
VBallManager18-19/obj/Debug/VballManager.csprojResolveAssemblyReference.cache
VBallManager18-19/obj/Debug/VballManager.dll
VBallManager18-19/obj/Debug/VballManager.pdb
VBallManager18-19/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager18-19/obj/Release/Reservation.csproj.FileListAbsolute.txt
VBallManager18-19/obj/Release/Reservation.dll
VBallManager18-19/obj/Release/Reservation.pdb
VBallManager18-19/obj/Release/VballManager.csproj.FileListAbsolute.txt
VBallManager18-19/obj/Release/VballManager.csprojResolveAssemblyReference.cache
VBallManager18-19/obj/Release/VballManager.dll
VBallManager18-19/obj/Release/VballManager.pdb
Wechat-Notifier/Wechat-Notifier.v11.suo
VBallManager18-19/VballManager18-19.v11.suo
*.suo
*.exe
*.pdb
VBallManager18-19/VballManager18-19.v11.suo
Wechat-Notifier/Wechat-Notifier/bin/Debug/Wechat-Notifier.exe.config
Wechat-Notifier/Wechat-Notifier/bin/Debug/Wechat-Notifier.vshost.exe.config
*.cache
Wechat-Notifier/Wechat-Notifier/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Wechat-Notifier/Wechat-Notifier/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Wechat-Notifier/Wechat-Notifier/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Wechat-Notifier/Wechat-Notifier/obj/Debug/Wechat-Notifier.csproj.FileListAbsolute.txt
Wechat-Notifier/Wechat-Notifier/obj/Debug/Wechat_Notifier.Notifier.resources
Wechat-Notifier/Wechat-Notifier/obj/Debug/Wechat_Notifier.Properties.Resources.resources
Wechat-Notifier/Wechat-Notifier/obj/Debug/TempPE/Service References.VballMangerWebservice.Reference.cs.dll
Wechat-Notifier/WechatHolder/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Wechat-Notifier/WechatHolder/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Wechat-Notifier/WechatHolder/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Wechat-Notifier/WechatHolder/obj/Debug/WechatHolder.csproj.FileListAbsolute.txt
Wechat-Notifier/WechatHolder/obj/Debug/WechatHolder.Form1.resources
Wechat-Notifier/WechatHolder/obj/Debug/WechatHolder.Properties.Resources.resources
Wechat-Notifier/WechatHolder/obj/Release/WechatHolder.csproj.FileListAbsolute.txt
Wechat-Notifier/WechatHolder/obj/Release/WechatHolder.Form1.resources
Wechat-Notifier/WechatHolder/obj/Release/WechatHolder.Properties.Resources.resources
Wechat-Notifier/WechatHolder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Wechat-Notifier/WechatHolder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Wechat-Notifier/WechatHolder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Wechat-Notifier/WechatHolder/bin/Debug/WechatHolder.exe.config
Wechat-Notifier/WechatHolder/bin/Debug/WechatHolder.vshost.exe.config
Wechat-Notifier/WechatHolder/bin/Debug/WechatHolder.vshost.exe.manifest
Wechat-Notifier/WechatHolder/bin/Release/WechatHolder.exe.config
Wechat-Notifier/WechatHolder/bin/Release/WechatHolder.vshost.exe.config
Wechat-Notifier/WechatHolder/bin/Release/WechatHolder.vshost.exe.manifest
Wechat-Notifier/Wechat-Notifier/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Wechat-Notifier/Wechat-Notifier/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Wechat-Notifier/Wechat-Notifier/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
