
VBallManager17-18/App_Data/Reservation.data.2018-06-21
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
VBallManager17-18/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Debug/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Debug/VballManager.csprojResolveAssemblyReference.cache
VBallManager17-18/obj/Debug/VballManager.dll
VBallManager17-18/obj/Debug/VballManager.pdb
VBallManager17-18/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Release/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Release/VballManager.csprojResolveAssemblyReference.cache
VBallManager17-18/obj/Release/VballManager.dll
VBallManager17-18/obj/Release/VballManager.pdb
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
VBallManager17-18/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Debug/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Debug/VballManager.dll
VBallManager17-18/obj/Debug/VballManager.pdb
VBallManager17-18/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Release/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Release/VballManager.dll
VBallManager17-18/obj/Release/VballManager.pdb
VBallManager17-18/VBallManager.csproj.user
Activity/.DS_Store
Activity/App_Data/Reservation.data
Activity/bin/.DS_Store
Activity/bin/AjaxControlToolkit.dll
Activity/bin/Reservation.dll
Activity/bin/Reservation.pdb
Activity/obj/Debug/Activity.csproj.FileListAbsolute.txt
Activity/obj/Debug/Activity.csprojResolveAssemblyReference.cache
Activity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Activity/obj/Debug/Reservation.csproj.FileListAbsolute.txt
Activity/obj/Debug/Reservation.dll
Activity/obj/Debug/Reservation.pdb
Activity/obj/Release/Activity.csproj.FileListAbsolute.txt
Activity/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Activity/obj/Release/Reservation.csproj.FileListAbsolute.txt
Activity/obj/Release/Reservation.dll
Activity/obj/Release/Reservation.pdb
Activity/obj/Release/ResolveAssemblyReference.cache
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
VBallManager17-18/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Debug/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Debug/VballManager.dll
VBallManager17-18/obj/Debug/VballManager.pdb
VBallManager17-18/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VBallManager17-18/obj/Release/VballManager.csproj.FileListAbsolute.txt
VBallManager17-18/obj/Release/VballManager.dll
VBallManager17-18/obj/Release/VballManager.pdb
VBallManager17-18/bin/VballManager.dll
VBallManager17-18/bin/VballManager.pdb
