<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VballWebServiceSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
                <binding name="ActivityWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://volleyball.gear.host/at/ActivityWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ActivityWebServiceSoap"
                contract="ActivityWebservice.ActivityWebServiceSoap" name="ActivityWebServiceSoap" />
            <endpoint address="http://volleyball.gear.host/hm/VballWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="VballWebServiceSoap"
                contract="VballManagerWebservice.VballWebServiceSoap" name="VballWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>