<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="VballManager.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
<!--<script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
    });  
</script> --></head>
<body>
    <form runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    <asp:Label ID="TitleLabel" runat="server" Text="Reservation System"></asp:Label>
                </h1>
            </div>
            <div class="loginDisplay">
            Passcode
            <asp:TextBox ID="PasscodeTb" runat="server" Text="adm!n"></asp:TextBox>
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                  </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Admin.aspx" Text="Admin / Players"/>
                        <asp:MenuItem NavigateUrl="~/Pools.aspx" Text="Pool Settings"/>
                        <asp:MenuItem NavigateUrl="~/Fees.aspx" Text="Fees"/>
                        <asp:MenuItem NavigateUrl="~/Authen.aspx" Text="Authentication"/>
                       <asp:MenuItem NavigateUrl="~/LogHistories.aspx" Text="Log Histories"/>
                    </Items>
                </asp:Menu>             </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    </form>
</body>
</html>
